/*
    * Busy 收集 整理
 */
/*雅虎（YUI 3）reset*/
/*Normalize.css*/
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
.animation_wrap figure {
  position: relative;
  float: left;
  width: 33.33%;
  height: 350px;
  overflow: hidden;
  background-color: #2f0000;
}
.animation_wrap figure img {
  opacity: 0.8;
  transition: all 0.35s;
}
.animation_wrap figure figcaption {
  position: absolute;
  top: 0;
  color: #ffffff;
  font-family: "Microsoft Yahei", "微软雅黑";
}
.animation_wrap figure figcaption p,
.animation_wrap figure figcaption h2,
.animation_wrap figure figcaption div,
.animation_wrap figure figcaption span {
  transition: all 0.35s;
}
@media screen and (max-width: 600px) {
  .animation_wrap figure {
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .animation_wrap figure {
    width: 50%;
  }
}
@media screen and (min-width: 1001px) {
  .animation_wrap figure {
    width: 33.33%;
  }
}
.animation_wrap .pic1 figcaption {
  padding: 20px;
}
.animation_wrap .pic1 figcaption p {
  background-color: #ffffff;
  color: #666666;
  margin: 5px;
  text-align: center;
  transform: translate(-120px, 0px);
}
.animation_wrap .pic1 figcaption p:nth-of-type(1) {
  transition-delay: 0.05s ;
}
.animation_wrap .pic1 figcaption p:nth-of-type(2) {
  transition-delay: 0.1s ;
}
.animation_wrap .pic1 figcaption p:nth-of-type(3) {
  transition-delay: 0.15s ;
}
.animation_wrap .pic1:hover img {
  transform: translate(-30px, 0px);
  opacity: 0.5;
}
.animation_wrap .pic1:hover figcaption p {
  transform: translate(0px, 0px);
}
.animation_wrap .pic2 {
  background-color: #030;
}
.animation_wrap .pic2 figcaption {
  width: 100%;
  height: 100%;
}
.animation_wrap .pic2 figcaption div {
  border: 1px solid #ffffff ;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(0px, -350px) rotate(0deg);
}
.animation_wrap .pic2 figcaption h2 {
  margin: 15% 0 0 15%;
}
.animation_wrap .pic2 figcaption p {
  margin-left: 15%;
  transform: translate(0, 50px);
  opacity: 0;
}
.animation_wrap .pic2:hover figcaption p {
  transform: translate(0, 0);
  opacity: 1;
}
.animation_wrap .pic2:hover figcaption div {
  transform: translate(0, 0) rotate(360deg);
}
.animation_wrap .pic2:hover img {
  transform: translate(-30px, 0);
  opacity: 0.5;
}
.animation_wrap .pic3 {
  background-color: #000083;
}
.animation_wrap .pic3 figcaption {
  top: 30%;
  left: 15%;
}
.animation_wrap .pic3 figcaption h2 {
  transform: skew(90deg);
}
.animation_wrap .pic3 figcaption p {
  transform: skew(90deg);
  transition-delay: 0.5s;
}
.animation_wrap .pic3:hover img {
  opacity: 0.5;
}
.animation_wrap .pic3:hover figcaption h2 {
  transform: skew(0deg);
}
.animation_wrap .pic3:hover figcaption p {
  transform: skew(0deg);
}
.animation_wrap .pic4 {
  background-color: #000083;
}
.animation_wrap .pic4 figcaption {
  width: 100%;
  height: 100%;
}
.animation_wrap .pic4 figcaption h2 {
  margin: 15% 0 0 15%;
  transform: scale(1.2, 1.2);
  opacity: 0;
}
.animation_wrap .pic4 figcaption p {
  margin-left: 15%;
  transform: scale(1.2, 1.2);
  opacity: 0;
}
.animation_wrap .pic4 figcaption div {
  border: 1px solid #ffffff ;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: scale(1.2, 1.2);
  opacity: 0;
}
.animation_wrap .pic4:hover img {
  transform: scale(1.2, 1.2);
  opacity: 0.5;
}
.animation_wrap .pic4:hover figcaption h2 {
  transform: scale(1, 1);
  opacity: 1;
}
.animation_wrap .pic4:hover figcaption p {
  transform: scale(1, 1);
  opacity: 1;
}
.animation_wrap .pic4:hover figcaption div {
  transform: scale(1, 1);
  opacity: 1;
}
